.card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 800px;
    border: 1px solid blue;
    background: linear-gradient(to bottom right, #5D9CEC, #967ADC);
}

